
fieldset {
    display: inline-block;
    vertical-align: top;
    border: none;
    border-radius: 10px;
    background-color: #ddffdd;
}

.lose {
    background-color: #ffdddd;
}

.win {
    background-color: #d4eaff;
}