
fieldset {
    display: inline-block;
    vertical-align: top;
    border: none;
}

.lose {
    background-color: black;
    color: white;
    border: 1px solid darkgray;
}

.win {
    background-color: mintcream;    
    border: 1px solid darkgray;
}